doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // CSS file
  link(rel='stylesheet' href='css/styles.css')
  style.
    table.table {
        font-size: 19px;
        color: #969696;
    }
  title Scans
.mainNav
  .brand BrandSense
  a(href='/login') Login
  a(href='/scans') Scans
  a(href='/about') About
  a(href='/') Home
.container
  div.table-responsive
        table.table
          - if(user_history)
            tr
              th Image
              th Logo
              th URL
            each item in user_history
              tr
                td
                  img.image(src= item.img, alt='image', style='width:250px')
                td= item.logo
                if item.url == 'Logo Not Supported' || result.url == 'N/A'
                  td=item.url
                else
                  td
                    a(href=item.url, target="_blank") #{item.logo}
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
